/**responsee CSS **/

@media screen and (max-width: 1008px) {

    ul {
        display: block;
        padding: 10px 0 10px 0;
        margin-inline: auto;
    }

    .top-ul {
        color: #fff;
        display: block;
        font-size: 1.1em;
        line-height: 1.5em;
        margin-right: 0.625em;
        margin-top: 0;
        padding-top: 0;
        max-width: 100%;
        /*vertical-align: middle;*/
    }

    a.logo {
        display: block;
        text-align: center;
        padding-bottom: 0;
    }

    .i-logo {
        max-width: 15% !important;
        max-height: 15% !important;
    }

    header h1 {
        display: block;
        text-align: center;
        margin: 0px;
        position: relative;
        top: -0.5em;
    }

    .nav-text {
        font-size: 2.5em;
        line-height: 1em;
        padding-top: 1em;
        text-align: center;
    }

    .text-central {
        position: absolute;
        color: #FFF;
        font-size: 1em;
        top: 0px;
        left: 50px;
        text-align: left;
        overflow: auto;
    }

    .top-nav ul {
        float: none;
        text-align: center;
    }

    .top-nav .right {
        margin-bottom: 0px;
    }

    .top-nav li a {
        /*        background: none repeat scroll 0 0 #162b4d;
        border-top: 1px solid #0b192f;*/
        color: #fff;
        display: inline;
        font: 100;
        font-size: 0.8em;
    }

    .news-card {
        width: 512px;
        background: #343a40;
        height: 320px;
    }

    .img-info {
        position: absolute;
        width: 512px;
        height: 320px;
    }

    footer {
        text-align: center;
        font-size: 0.7em;
    }
}

@media screen and (max-width: 720px) {

    body {
        max-width: 100em;
        justify-content: center
    }

    /*    ul {
        display: block;
        padding: 10px 0 10px 0;
        margin-inline: auto;
    }*/

    .top-ul {
        color: #fff;
        display: block;
        font-size: 1.em;
        line-height: 2em;
        margin-right: 0.625em;
        max-width: 100%;
        padding: 0;
        /*vertical-align: middle;*/
    }

    .top-ul .right {
        margin-top: 0px;
        margin-bottom: 0px;

    }

    a.logo {
        display: block;
        text-align: center;
    }

    header h1 {
        display: block;
        text-align: center;
        margin: 0px;

    }

    .nav-text {
        font-size: 2.5em;
        line-height: 1em;
        padding-top: 1em;
        text-align: center;
    }

    .text-central {
        position: absolute;
        color: #FFF;
        font-size: 0.8em;
        top: 0px;
        left: 50px;
        text-align: left;
        overflow: hidden;
    }

    .top-nav ul {
        float: none;
        text-align: center;
    }

    .top-nav li a {
        background: none repeat scroll 0 0 #162b4d;
        border-top: 1px solid #0b192f;
        color: #fff;
        display: block;
    }

    .news-text {
        position: relative;
        margin-right: 10px;
        margin-left: 20px;
        color: #E0E0E0;
        font-size: 0.8em;

    }

    .btn-1 {
        padding: .375rem .5rem .2rem .5rem;
        border: 1px solid #FFF;
        border-radius: .25rem;
        background-color: transparent;
        height: 30px;
        color: #fff;
        font-size: 14px;
    }

    .btn-1:hover,
    .btn-2:hover {
        border-color: #28a745;
        background-color: transparent
            /*#353A40*/
        ;

    }

    .btn-2 {
        padding: .375rem .5rem .2rem .5rem;
        border: 1px solid #28a745;
        border-radius: .25rem;
        background-color: #28a745;
        height: 30px;
        color: #fff;
        font-size: 14px;
        margin-left: 10px;
    }

    footer {
        max-width: 100%;
        text-align: center;
        font-size: 0.7em;
    }

    .footer-ul li a {
        margin-inline: 7px;
    }

}

@media screen and (max-width: 576px) {

    body {
        width: 360px;
        margin: 0 auto;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 0.8em;
    }

    .title-form {
        color: #353A40;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
    }

    form.custom-form {
        text-align: center;
        display: inline-block;
        width: 380px;
    }

    .form-content {
        text-align: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    h4 {
        position: relative;
        font-weight: 400;
        color: #343a40;
        font-size: .9em;
        margin-bottom: 5px;
    }

    .form-data {
        padding-bottom: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    input {
        border: 1px solid #E0E0E0;
        border-radius: 0.25rem;
        background: none;
        height: 25px;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }

    input::placeholder {
        color: #899285;
    }

    textarea {
        border: 1px solid #E0E0E0;
        border-radius: 0.25rem;
        width: 360px;
        background: none;
        margin: 0 5px 0 5px;
        padding: 0 5px 0 5px;
    }

    .btn-7 {
        padding: .15rem .5rem;
        border: 2px solid #a0c934;
        border-radius: .25rem;
        background-color: #a0c934;
        color: #FFF;
        width: 370px;
        height: 30px;
    }
}